n8n_telegram_lightrag.json
{
  "name": "Telegram Chatbot với LightRAG",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "telegram-webhook",
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message.from.id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "auth-check",
      "name": "Kiểm tra Quyền",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "notes": "Kiểm tra User ID có trong danh sách cho phép không"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "⛔ Bạn không có quyền sử dụng bot này.",
        "additionalFields": {}
      },
      "id": "deny-access",
      "name": "Từ chối Truy cập",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        650,
        450
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Bạn là trợ lý AI thông minh của doanh nghiệp. Nhiệm vụ của bạn là:\n1. Trả lời câu hỏi về kiến thức doanh nghiệp bằng cách sử dụng công cụ LightRAG.\n2. Tra cứu thông tin vận hành từ Database khi cần.\n3. Luôn lịch sự, chuyên nghiệp và chính xác.\n\nNếu không chắc chắn, hãy nói rõ và đề xuất cách tìm hiểu thêm."
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        650,
        150
      ],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "name": "lightrag_query",
        "description": "Công cụ để truy vấn tri thức doanh nghiệp thông qua LightRAG. Sử dụng khi người dùng hỏi về chính sách, quy trình, tài liệu nội bộ, hoặc bất kỳ kiến thức nào của công ty.",
        "workflowId": "={{ $workflow.id }}",
        "method": "POST",
        "url": "http://localhost:8000/api/lightrag/query",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query }}"
            },
            {
              "name": "mode",
              "value": "hybrid"
            }
          ]
        },
        "options": {}
      },
      "id": "lightrag-tool",
      "name": "LightRAG Tool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        850,
        50
      ],
      "notes": "Gọi API LightRAG để truy vấn Knowledge Graph"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}",
        "contextWindowLength": 5
      },
      "id": "window-memory",
      "name": "Bộ nhớ Hội thoại",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        850,
        150
      ],
      "notes": "Lưu 5 tin nhắn gần nhất cho mỗi user"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.7,
          "maxTokens": 1000
        }
      },
      "id": "chat-model",
      "name": "Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        850,
        250
      ],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-response",
      "name": "Telegram Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1050,
        150
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LightRAG Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Bộ nhớ Hội thoại": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-20T03:48:00.000Z",
  "versionId": "1"
}