n8n_telegram_lightrag.json
{
  "name": "CIC Bot: LightRAG Full System (Fixed Import)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "tg-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ],
      "webhookId": "tg-webhook"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "operator": "isNotEmpty"
                  }
                ]
              },
              "output": 0
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.document }}",
                    "operator": "isNotEmpty"
                  }
                ]
              },
              "output": 1
            }
          ]
        },
        "fallbackOutput": 2
      },
      "id": "route-msg",
      "name": "Kiểm tra loại tin nhắn",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "id": "ai-agent",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        450,
        150
      ]
    },
    {
      "parameters": {
        "operation": "getFile",
        "fileId": "={{ $json.message.document.file_id }}",
        "download": true
      },
      "id": "get-file",
      "name": "Tải file Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        450,
        450
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data"
      },
      "id": "extract-pdf",
      "name": "Đọc PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        650,
        450
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://web-production-your-link.up.railway.app/api/lightrag/insert",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        }
      },
      "id": "insert-api",
      "name": "Gửi vào LightRAG API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        880,
        450
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "✅ Đã nạp kiến thức mới thành công! Anh có thể hỏi em về tài liệu này rồi ạ."
      },
      "id": "success-notify",
      "name": "Báo thành công",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1100,
        450
      ]
    },
    {
      "parameters": {
        "name": "lightrag_query",
        "description": "Tra cứu tài liệu CIC. Đầu vào là câu hỏi.",
        "workflowId": "={{ $workflow.id }}",
        "method": "POST",
        "url": "https://web-production-your-link.up.railway.app/api/lightrag/query",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query }}"
            },
            {
              "name": "mode",
              "value": "hybrid"
            }
          ]
        }
      },
      "id": "tool-node",
      "name": "LightRAG Tool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        680,
        50
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}"
      },
      "id": "memory-node",
      "name": "Bộ nhớ",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [
        680,
        150
      ]
    },
    {
      "parameters": {
        "model": "gemini-1.5-flash"
      },
      "id": "gemini-node",
      "name": "Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        680,
        250
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}"
      },
      "id": "final-reply",
      "name": "Gửi câu trả lời",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1100,
        150
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Kiểm tra loại tin nhắn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra loại tin nhắn": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tải file Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Gửi câu trả lời",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tải file Telegram": {
      "main": [
        [
          {
            "node": "Đọc PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Đọc PDF": {
      "main": [
        [
          {
            "node": "Gửi vào LightRAG API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gửi vào LightRAG API": {
      "main": [
        [
          {
            "node": "Báo thành công",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LightRAG Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Bộ nhớ": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  }
}